* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

header {
  display: flex;
  height: 4rem;
  padding: 0px 150px 0px 150px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon-star {
  height: 24px;
  width: 24px;
}

nav {
  display: flex;
  gap: 2rem;
}

.logo > p {
  color: #464646;
  font-weight: bold;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: #464646;
  font-size: 1em;
}

.section-one {
  display: flex;
  align-items: center;
  padding: 0px 150px 0px 150px;
  gap: 1rem;
}

.section-one > div > p {
  color: #464646;
}

.container {
  height: 246px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  color: #464646;
  font-size: 2em;
}

.links {
  display: flex;
  align-items: center;
}

.links > a {
  display: flex;
  align-items: center;
  margin-right: 2.5rem;
}

.profile > img {
  height: 368px;
}

.section-two {
  padding: 0px 150px 0px 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 255px;
}

.section-two > p {
  font-size: 1rem;
  color: #464646;
}

h2 {
  font-size: 1.5em;
  color: #464646;
}

.section-three {
  height: 244px;
  padding: 0px 150px 0px 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-three > h2 {
  text-align: center;
}

.card-skills {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 174px;
  width: 176px;
  padding: 16px;
}

.card-skills > img {
  height: 37px;
  width: 24px;
  object-fit: contain;
}

.card-skills > p {
  font-weight: bold;
  font-size: 1em;
  color: #464646;
}

.card-principal {
  display: flex;
  gap: 1rem;
}

.section-foor {
  height: 244px;
  padding: 0px 150px 0px 150px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.section-foor > h2 {
  text-align: center;
}
.card-hobbies {
  height: 174px;
  width: 176px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
}

.card-hobbies > img {
  height: 32px;
  width: 32px;
  object-fit: contain;
}

.card-hobbies > p {
  font-size: 1em;
  font-weight: bold;
  color: #464646;
  padding-top: 8px;
}

.card-principal-hobbies {
  display: flex;
  gap: 1rem;
}

.section-five {
  background-color: #eaf2fd;
  height: 581px;
  padding: 0px 150px 0px 150px;
}

.section-five > h2 {
  text-align: center;
  margin: 82px 0px 32px 0px;
}

.card-formacao-primario {
  background-color: #ffffff;
  height: 286px;
  width: 368px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-formacao-primario > img {
  height: 130px;
  width: 190px;
}

.card-formacao-secundario > h3 {
  font-size: 22px;
  font-weight: bold;
  color: #464646;
  margin: 8px 0px 8px 0px;
}

.card-formacaao-principal {
  display: flex;
  flex-direction: column;
  width: 1136px;
  height: 347px;
  padding: 0px 16px 0px 16px;
}
.card-formacao {
  display: flex;
  justify-content: center;
  padding: 0px 150px 0px 150px;
  gap: 1rem;
}
